<div id="<%= dom_id commitment %>">
  <p>
    <strong>Item:</strong>
    <%= commitment.item_id %>
  </p>

  <p>
    <strong>Bank account:</strong>
    <%= commitment.bank_account_id %>
  </p>

  <p>
    <strong>Value:</strong>
    <%= commitment.value %>
  </p>

</div>
