<div id="<%= dom_id bank_account %>">
  <p>
    <strong>Display name:</strong>
    <%= bank_account.display_name %>
  </p>

  <p>
    <strong>User:</strong>
    <%= bank_account.user_id %>
  </p>

  <p>
    <strong>Balance:</strong>
    <%= bank_account.balance %>
  </p>

</div>
